header {
    min-height: 600px;
    background-size: cover;
    background-color: rgba(239,125,147,0.75);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
 }

.heading {
    font-family: 'Muli';
    font-weight: 700;
    padding-top: 6rem;
    font-size: 3rem;
    text-align: center;
}

.scroll {
    color: #ffffff;
}

.profile-image {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
}

.profile-image img {
    border-radius: 100%;
    width: 300px;
}

h2 {
    text-align: center;
    padding-bottom: 2rem;
}

span.teal {
    color: #06A0A6;
}

.timeline {
    position: relative;
    padding-bottom: 4rem;
    padding-top: 8rem;
}

.timeline-wrap {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.timeline-item{
    list-style-type: none;
    position: relative;
    width: 10px;
    height: 100%;
    left: 50%;
    margin-left: -20px;
    padding-top: 1.5rem;
    background: rgba(254,166,166,0.4);
}

.timeline-item::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #EF7D93;
}

.timeline-content {
    position: relative;
    bottom: 0;
    width: 500px;
    border-radius: 4px;
    background: #ffffff;
}

.timeline-content::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline-item:nth-child(odd) .timeline-content {
    left: 100px;
    box-shadow: -5px 20px 35px -5px rgba(0, 0, 0, 0.3);
}

.timeline-item:nth-child(odd) .timeline-content::before {
    left: -16px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #fcfcfc transparent transparent;
}

.timeline-item:nth-child(even) .timeline-content {
    left: -600px;
    box-shadow: 5px 20px 35px -5px rgba(0, 0, 0, 0.3);
}

.timeline-item:nth-child(even) .timeline-content::before {
    right: -16px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #fcfcfc;
}

.year {
    font-family: 'Muli';
    font-weight: 700;
    font-size: 3rem;
    color: #ffffff;
    background-color: #06A0A6;
    border-radius: 4px 4px 0 0;
    text-align: right;
    width: 100%;
    padding: 0.25rem 1.5rem 0.25rem 0.25rem;
    box-sizing: border-box;
}

.timeline-item:nth-child(odd) .year {
    text-align: left;
    padding-left: 1.5rem;
}

.bio {
    width: 90%;
    line-height: 1.5rem;
    padding: 0 1rem 1rem 1.5rem;
}

.italic {
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: italic;
    width: 300px;
    text-align: center;
    font-size: 1rem;
    margin: 0 auto;
    padding-top: 2rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.process {
    background-color: rgba(254,166,166,0.4);
    padding: 2rem 2rem;
    text-align: center;
}

.process > h2 {
    padding-bottom: 2rem;
}

.one-fourth {
    padding-right: 1rem;
}

.icon {
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}
.fas {
    font-size: 3rem;
    padding: 3rem;
    align-items: center;
}

.fa-edit {
    padding-left: 3.25rem;
}

.fa-code-branch {
    padding-left: 3.5rem;
}

.fa-code {
    padding-left: 2.8rem;
    padding-top: 3.15rem;
}

.one-fourth > h1 {
    font-size: 2rem;
}

.one-fourth > p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 1rem;
}
