header {
    min-height: 600px;
    background-size: cover;
    background-color: rgba(239,125,147,0.75);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
 }

 #main-menu a {
     font-weight: 400;
 }

.heading {
    padding-top: 100px;
    text-align: center;
    position: relative;
}

.stay {
    position: absolute;
    right: 50%;
    color: #ffffff;
}

.heading p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    font-size: 48px;
    font-family: 'Muli';
    font-weight: 700;
    color: #ffffff;
}

span.scroll {
  position: absolute;
  left: 50%;
  width: 500px;
  opacity: 0;
  color: #ffffff;
  font-weight: 700;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

h2 {
    text-align: center;
    padding-bottom: 30px;
}

span.teal {
    color: #06A0A6;
}

.timeline {
    position: relative;
    padding-bottom: 65px;
    padding-top: 125px;
}

.timeline ul {
    list-style: none;
    padding: 0;
}

.timeline-content {
    box-shadow: -8px 20px 20px -5px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
    border-radius: 4px;
    background: #ffffff;
    font-size: 1.4rem;
}

.timeline-item {
    position: relative;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.year {
    font-family: 'Muli';
    font-weight: 700;
    font-size: 48px;
    color: #ffffff;
    background-color: #06A0A6;
    border-radius: 4px 4px 0 0;
    text-align: left;
    width: 100%;
    padding: 5px 5px 5px 25px;
    box-sizing: border-box;
}

.timeline-content {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline-item:nth-child(odd) .timeline-content {
  transform: translate3d(200px, 0, 0);
}

.timeline-item:nth-child(even) .timeline-content {
  transform: translate3d(-200px, 0, 0);
}

.timeline-item.in-view .timeline-content {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.bio {
    width: 90%;
    line-height: 1.25;
    padding: 10px 16px 16px 24px;
}

.italic {
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: italic;
    width: 300px;
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
    padding-top: 30px;
}

.bio a {
    text-decoration: none;
    color: #06A0A6;
}

.flex-container {
    align-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.one-half {
    width: 50%;
}

.half-height {
    height: 50%;
}

#robot {
    height: 300px;
    background-image: url(../assets/images/robot.jpg);
    background-size: cover;
    background-position: center center;
}

#louie {
    height: 300px;
    background-image: url(../assets/images/louie.png);
    background-size: cover;
    background-position: left bottom;
}

#graduation {
    height: 600px;
    background-image: url(../assets/images/graduation.png);
    background-size: cover;
    background-position: center top;
}

#california {
    height: 300px;
    background-image: url(../assets/images/california.jpg);
    background-size: cover;
    background-position: center bottom;
}

#spencer {
    height: 300px;
    background-image: url(../assets/images/spencer.jpg);
    background-size: cover;
    background-position: center bottom;
}

#australia {
    height: 300px;
    background-image: url(../assets/images/australia.jpg);
    background-size: cover;
    background-position: center bottom;
}

@media (min-width: 1220px) {
    .timeline-wrap {
        position: relative;
        width: 90%;
        margin: 0 auto;
    }
    .timeline-item {
        list-style-type: none;
        position: relative;
        width: 10px;
        height: 100%;
        left: 50%;
        margin-left: -5px;
        padding-top: 25px;
        background: rgba(254,166,166,0.4);
    }
    .timeline-item::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 5%;
        transform: translateX(-50%);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #EF7D93;
    }
    .timeline-content {
        position: relative;
        bottom: 0;
        width: 500px;
        margin-bottom: 0;
    }
    .timeline-content::before {
        content: '';
        position: absolute;
        bottom: 7px;
        width: 0;
        height: 0;
        border-style: solid;
    }
    .timeline-item:nth-child(odd) .timeline-content {
        left: 110px;
        box-shadow: -8px 20px 20px -5px rgba(0, 0, 0, 0.3);
    }
    .timeline-item:nth-child(odd) .timeline-content::before {
        left: -16px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #fcfcfc transparent transparent;
    }
    .timeline-item:nth-child(even) .timeline-content {
        left: -600px;
        box-shadow: 5px 20px 20px -3px rgba(0, 0, 0, 0.3);
    }
    .timeline-item:nth-child(even) .timeline-content::before {
        right: -16px;
        border-width: 8px 0 8px 16px;
        border-color: transparent transparent transparent #fcfcfc;
    }
    .timeline-item:nth-child(even) .year {
        text-align: right;
        padding-right: 25px;
    }
}

@media (min-width: 681px) {
    .one-fourth {
        max-width: 300px;
    }
    .images {
        max-height: 600px;
        overflow: hidden;
    }
    .mobile {
        display: none;
    }
}

@media (max-width: 980px) {
    .heading {
        padding-top: 130px;
        font-size: 40px;
    }
}

@media (max-width: 850px) {
    .heading {
        font-size: 32px;
    }
}

@media (max-width: 680px) {
    .stay {
        display: none !important;
    }
    .mobile {
        font-size: 42px;
        text-align: center;
        font-family: 'Muli';
        font-weight: 700;
        padding-top: 100px;
        padding-bottom: 0;
        margin: 0;
        color: #ffffff;
    }
    .scroll {
        margin-left: -145px !important;
        margin-top: -135px;
        font-size: 36px;
    }
    .timeline {
        padding-top: 65px;
    }
    .timeline h2 {
        font-size: 24px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .timeline ul {
        padding-left: 15px;
        padding-right: 15px;
    }
    .year {
        font-size: 40px;
    }
    .bio {
        font-size: 16px;
    }
    .flex-column {
        max-height: 300px;
    }
    .one-half {
        width: 100%;
    }
    #graduation {
        height: 300px;
        background-position: center center;
    }
    #australia {
        background-position: center center;
    }
    #spencer {
        height: 150px;
        background-position: center center;
    }
}

@media (max-width: 625px) {
    .heading {
        text-align: left;
        width: 80%;
        margin: 0 auto;
        color: #ffffff;
    }
    .heading p {
        display: block;
        position: relative;
        left: 0;
        color: #ffffff;
    }
    .scroll {
        margin-left: -140px;
    }
}

@media (max-width: 425px) {
    .mobile {
        font-size: 40px;
        color: #ffffff;
        padding-bottom: 0;
    }
    .scroll {
        font-size: 28px;
        margin-left: -128px !important;
        margin-top: -130px;
    }
}
