header {
    min-height: 600px;
    background-size: cover;
    background-color: rgba(239,125,147,0.75);
 }

 h1, h2 {
     margin-top: 0;
 }

 h4 {
     margin-bottom: 0;
 }

 p {
     line-height: 2.5rem;
 }

 a {
     text-decoration: none;
     color: #2ec4b6;
 }

 .navbar.secondary {
     background-color: #f0f0f0;
     margin: 0 auto;
     z-index: 1;
 }

 #case-study-menu {
     width: 100%;
     text-align: center;
 }

 #case-study-menu a {
     font-size: 1.125rem;
     margin-left: 0.75rem;
     margin-right: 0.75rem;
     color: #333333;
 }

 #case-study-menu li {
     list-style: none;
     display: inline;
 }

 #case-study-menu li:last-child {
     margin-right: 5rem;
 }

 .content {
     padding: 16px;
}

 .sticky {
     position: fixed;
     top: 0;
     width: 100%;
 }

 .sticky + .content {
     padding-top: 60px;
}

 #dogtopia-survey {
     background-image: url(../assets/images/dogtopia_survey.jpg);
 }

 #dogtopia-flows {
     background-image: url(../assets/images/dogtopia_flows.png);
     position: relative;
 }

 #dogtopia-sketches {
     background-image: url(../assets/images/dogtopia_sketches.jpg);
 }

 #dogtopia-logo-sketches {
     background-image: url(../assets/images/dogtopia_logos.jpg);
 }

 #dogtopia-mockup {
     background-image: url(../assets/images/dogtopia_mockup.jpg);
 }

 #conclusion {
     background-image: url(../assets/images/conclusion.jpg);
 }

 .full-width-image {
     height: 500px;
     background-attachment: fixed;
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
 }

.container {
    padding: 2rem;
}

.center {
    max-width: 965px;
    box-sizing: border-box;
    padding: 2rem;
    text-align: center;
    margin: 0 auto;
}

.flex-container {
    align-items: center;
}

.flex-container.reverse {
    flex-direction: row-reverse;
}

.top {
    align-items: flex-start;
}

.one-half {
    width: 50%;
}

.one-half.center {
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.one-third {
    width: 33%;
}

.two-thirds {
    width: 66%;
}

.grey-bg {
    background-color: rgba(226,226,226,0.75);
}

.white-bg {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    margin: 2rem;
}

img.mockup {
    max-height: 600px;
}

.scope {
    text-align: center;
    width: 25%;
}

.scope h3 {
    margin-bottom: 0.25rem;
}

.scope p {
    font-size: 1.125rem;
    margin-top: 0.75rem;
    line-height: 1.75rem;
}

.scope button {
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

.one-third .mockup {
    margin-left: 3rem;
}

#about {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#about p {
    margin-top: 3rem;
}

#data p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 0;
}

.note {
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.margin-left {
    margin-left: 2rem;
}

#analysis {
    margin: 4rem 1rem 4rem 2rem;
}

table {
    border-radius: 4px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
}

th {
    color: #ffffff;
    font-family: 'Muli';
    font-size: 1.75rem;
    padding: 1rem;
    background-color: #06A0A6;
    border-color: transparent;
}

tr {
    background-color: #ffffff;
}

td {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 1.5rem;
    padding: 0.75rem 0.5rem;
}

td {
    text-align: center;
}

td:first-child {
    text-align: left;
}

.user {
    padding: 2rem;
}

.user p {
    font-size: 1.125rem;
    text-align: left;
}

.user .title {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0;
}

h3.name {
    text-align: center;
    margin-bottom: 0.5rem;
}

img.user-photo {
    border-radius: 50%;
    max-width: 250px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    margin-left: 20%;
}

#user-stories {
    background-color: rgba(51,51,51,0.75);
    color: #ffffff;
    border-radius: 4px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#user-stories h2 {
    color: #ffffff;
}

.left {
    text-align: left;
}

.lightbox {
    margin: 0 auto;
}

.typography {
    height: 300px;
    width: 90%;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
}

.typography h4 {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: -1rem;
}

.lato h4,
.lato p {
    font-family: 'Lato';
    font-weight: 700;
    line-height: 1.75rem;
}

.open-sans h4,
.open-sans p {
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 1.75rem;
}

.flex-column.one-half {
    margin-left: -2rem;
}

.branding {
    justify-content: center;
}

.project-logo {
    border-radius: 4px;
    box-sizing: border-box;
    width: 230px;
    height: 230px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    padding-left: 60px;
    padding-top: 50px;
    margin: 1.25rem;
}

#gradient {
    background: linear-gradient(to top right, #f06449, #e7524e);
}

#orange-on-grey {
    background-color: #e2e2e2;
}

.color {
    width: 140px;
    height: 140px;
    border-radius: 4px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    padding-top: 60px;
    margin: 1.25rem;
}

#teal {
    background-color: #2ec4b6;
}

#orange {
    background-color: #f06449;
}

#red {
    background-color: #e7524e;
}

#black {
    background-color: #333333;
}

#grey {
    background-color: #e2e2e2;
    color: #333333;
}

#white {
    background-color: #ffffff;
    color: #333333;
}

.case-study-nav li {
    list-style: none;
    display: inline;
}

.case-study-nav li:last-child {
    float: right;
    margin-right: 2rem;
}
