header {
    min-height: 500px;
    background-size: cover;
    background-color: rgba(239,125,147,0.75);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
 }

 #dogtopia {
     background-image: url(../assets/images/dogtopia/dogtopia_header.jpg);
 }

 h1, h2 {
     margin-top: 0;
 }

 h4 {
     margin-bottom: 0;
 }

 p {
     font-size: 1.125rem;
     line-height: 2rem;
 }

 a {
     text-decoration: none;
     color: #06A0A6;
 }

.grey-bg {
    background: #e2e2e2;
}

.white-bg {
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#case-study-menu {
    width: 100%;
    text-align: center;
    background-color: #333333;
    z-index: 4;
    padding: 0.25rem 0;
}

ul {
    -webkit-padding-start: 0;
}

#case-study-menu a {
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #ffffff;
}

#case-study-menu li {
    list-style: none;
    display: inline;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

#dogtopia-survey {
    background-image: url(../assets/images/dogtopia/dogtopia_survey.jpg);
}

#blocbox-survey {
    background-image: url(../assets/images/blocbox/blocbox_survey.jpg);
}

#dogtopia-flows {
    background-image: url(../assets/images/dogtopia/dogtopia_flows.png);
    background-attachment: scroll;
    position: relative;
    height: 600px;
}

#blocbox-flows {
    background-image: url(../assets/images/blocbox/blocbox_flows.png);
    background-attachment: scroll;
    position: relative;
    height: 600px;
}

#dogtopia-sketches {
    background-image: url(../assets/images/dogtopia/dogtopia_sketches.jpg);
}

#dogtopia-logo-sketches {
    background-image: url(../assets/images/dogtopia/dogtopia_logos.jpg);
}

#blocbox-logo-sketches {
    background-image: url(../assets/images/blocbox/blocbox_logos.jpg);
}

#dogtopia-mockup {
    background-image: url(../assets/images/dogtopia/dogtopia_mockup.jpg);
}

#blocbox-mockup {
    background-image: url(../assets/images/blocbox/blocbox_mockup.jpg);
}

#conclusion {
    background-image: url(../assets/images/conclusion.jpg);
}

.full-width-image {
    height: 500px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

img.mockup {
    max-height: 500px;
}

img.blocbox-mockup {
    width: 600px;
}

.grid-container {
    display: grid;
    align-items: center;
}

.container {
    padding: 3rem;
}

.center {
    text-align: center;
    max-width: 965px;
    margin: 0 auto;
}

#about img {
    width: 200px;
    padding-bottom: 2rem;
}

.scope {
    grid-row-start: 1;
}

.scope, .data {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.scope h3 {
    margin-bottom: 0;
    padding-bottom: 15px;
}

.scope p, .data p {
    margin-top: 0;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.item-1 {
    grid-row-start: 1;
    grid-column: 3;
    max-width: 965px;
    padding-left: 2rem;
}

.item-2 {
    grid-row-start: 1;
    grid-column: 2 / 3;
}

.item-3 {
    grid-row-start: 1;
    grid-column: 2 / 4;
    padding-right: 2rem;
}

.item-4 {
    grid-row-start: 1;
    grid-column: 4 / 5;
    display: grid;
    padding: 1rem;
    justify-content: center;
}

.data-item-1, .data-item-2 {
    grid-row: 1;
}

.data-item-3, .data-item-4 {
    grid-row: 2;
}

.data h1 {
    margin-bottom: 0;
    margin-top: 1.5rem;
}

.note {
    font-weight: 300;
    font-style: italic;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    grid-column: 1 / 3;
    text-align: center;
}

table {
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
}

thead th:first-child {
    border-top-left-radius: 4px;
}

thead th:last-child {
    border-top-right-radius: 4px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
}

th {
    color: #ffffff;
    font-family: 'Muli';
    font-size: 1.75rem;
    padding: 1rem;
    background-color: #06A0A6;
}

tr {
    background-color: #ffffff;
}

td {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 1.5rem;
    padding: 0.75rem 0.5rem;
}

td {
    text-align: center;
}

td:first-child {
    text-align: left;
}

.item-5 {
    grid-row-start: 1;
    grid-column: 4 / 5;
    padding-left: 2rem;
}

.item-6 {
    grid-row-start: 1;
}

.user {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
}

img.user-photo {
    border-radius: 50%;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
}

.user h3 {
    margin-bottom: 0;
}

.title {
    font-size: 1.25rem;
    margin-top: 0.25rem;
    line-height: 1.25rem;
}

.user-text li, p.user-text {
    font-size: 1.125rem;
    font-weight: 300;
    text-align: left;
}

#user-stories {
    background-color: rgba(51,51,51,0.75);
    color: #ffffff;
    border-radius: 4px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#user-stories h2 {
    color: #ffffff;
}

#user-stories p {
    text-align: left;
}

.item-7 {
    grid-row-start: 1;
    grid-column: 4 / 5;
    padding-left: 2rem;
}

.item-8 {
    grid-row-start: 1;
}

.item-9 {
    grid-row: 6;
}

.grey-bg > .container > .flex-container {
    justify-content: center;
}

.grey-bg > .container > .flex-container div,
.container > .flex-container div  {
    margin: 1rem 2%;
    text-align: center;
}

.lightbox {
    margin: 0 auto;
    text-align: center;
}

.lightbox img:hover {
    cursor: pointer;
}

.grey-bg > .container > .lightbox img {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.lightbox:after {
    content: "";
    display: table;
    clear: both;
}
.thumbnails {
    display: flex;
    justify-content: center;
}

.thumbnail {
    padding-left: 1rem;
    padding-right: 1rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 5;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal-open {
    text-align: center;
    color: #06A0A6;
    padding-top: 1rem;
}

.modal-open:hover {
    cursor: pointer;
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  height: 70vh;
  max-width: 300px;
}

.thumbnail-container {
    width: 100%;
    margin-top: 3rem;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.slides,
.images {
  display: none;
  margin-top: -5rem;
  text-align: center;
}

.slides img
.images img {
    height: 500px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  background-color: rgba(0,0,0,0.3);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
}

img.thumb,
img.dots {
  opacity: 0.6;
}

.active,
.thumb:hover,
.dots:hover {
  opacity: 1;
}

.grey-bg.container > .flex-container,
.container > .flex-container {
    justify-content: center;
}

.container > .flex-container p {
    font-size: 1rem;
    margin: 0;
}

.item-10 {
    grid-row-start: 1;
    padding-right: 3rem;
}

.item-11 {
    grid-row-start: 1;
}

.typography {
    padding: 1rem;
    margin: 2rem 0;
    max-width: 500px;
    line-height: 1.75rem;
    letter-spacing: 0;
}

.typography h4 {
    text-align: center;
    padding-bottom: -1rem;
}

.lato h4,
.lato p {
    font-family: 'Lato';
    font-weight: 700;
}

.open-sans h4,
.open-sans p {
    font-family: 'Open Sans';
    font-weight: 400;
}

.item-13 {
    grid-row-start: 1;
}

.item-12 {
    grid-row-start: 1;
    grid-column: 2 / 6;
    padding-left: 2rem;
}

.project-logo {
    margin: 2%;
}

.project-logo img {
    padding: 40px 60px;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#gradient img {
    background: linear-gradient(to top right, #f06449, #e7524e);
}

#orange-on-grey img {
    background-color: #e2e2e2;
}

.blocbox-logo img {
    width: 130px;
}

.blocbox-logo {
    display: flex;
    border-radius: 4px;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.blocbox-logo h3 {
    padding-left: 20px;
    font-size: 36px;
    font-family: 'Montserrat';
}

#light {
    background-color: #e2e2e2;
}

#dark {
    background-color: #534365;
}

#dark h3 {
    color: #ffffff;
}

#color-palette {
    flex-wrap: wrap;
}

.color {
    width: 140px;
    height: 140px;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    line-height: 140px;
    margin: 2%;
}

#teal {
    background-color: #2ec4b6;
}

#orange {
    background-color: #f06449;
}

#red {
    background-color: #e7524e;
}

#black {
    background-color: #333333;
}

#purple {
    background-color: #534365;
}

#blue {
    background-color: #363490;
}

#green {
    background-color: #4dd5b0;
}

#lavendar {
    background-color: #705ab2;
}

#grey {
    background-color: #e2e2e2;
    color: #333333;
}

#white {
    background-color: #ffffff;
    color: #333333;
}

.image-container {
    margin-top: 3rem;
}

.image-container > .one-third > p {
    font-size: 1.125rem;
}

.case-study-nav {
    display: flex;
    justify-content: center;
}

.case-study-nav li {
    font-size: 1.25rem;
    list-style: none;
    margin-left: 2rem;
    margin-right: 2rem;
}

.case-study-nav li a {
    color: #333333;
}

a.active {
    color: #e2e2e2 !important;
}

@media (min-width: 1000px) {
    p {
        line-height: 2.5rem;
        font-size: 1.5rem;
    }
    #scope {
        align-items: flex-start;
    }
    .item-13 {
        max-width: 550px;
    }
    .user {
        width: 33%;
    }
}

@media (max-width: 1000px) {
    ul.user-text {
        margin-left: 0.5rem;
    }
    table {
        margin-bottom: 1rem;
    }
    th {
        font-size: 1.25rem;
        padding: 0.5rem;
    }
    td {
        font-size: 1rem;
        padding: 0.5rem 0.25rem;
    }
    .legend {
        font-size: 1rem;
    }
    .white-bg.flex-container {
        flex-direction: column;
    }
    .mobile-hide {
        display: none;
    }
    .color {
        width: 100px;
        height: 100px;
        line-height: 100px;
    }
    .project-logo img {
        padding: 20px 30px;
    }
    .blocbox-logo img {
        width: 100px;
    }
    .blocbox-logo {
        padding: 1rem;
    }
    .scope:nth-child(3), .scope:last-child, .item-11 {
        grid-row-start: 2;
    }
}

@media (min-width: 681px) {
    p.copyright {
        line-height: 1rem;
    }
    .one-third {
        width: 33%;
    }
}

@media (max-width: 680px) {
    #blocbox-logo-sketches {
        background-position: 90%;
    }
    h1 {
        margin-top: 2rem;
    }
    .overview > .center {
        text-align: center;
    }
    .overview > .center > img {
        padding-bottom: 1rem;
    }
    .container {
        padding: 2rem 1.5rem;
    }
    img.blocbox-mockup {
        width: 90vw;
    }
    .flex-container {
        justify-content: center;
        text-align: center;
    }
    .grey-bg.grid-container {
        display: flex;
        flex-direction: column;
    }
    .grid-container,  .item-4 {
        display: flex;
        flex-direction: column;
    }
    .center {
        text-align: left;
    }
    #case-study-menu {
        text-align: left;
        line-height: 2rem;
    }
    .item-2 {
        margin: 0 auto;
    }
    #user-stories {
        width: 90%;
    }
    .item-1, .item-3, .item-5, .item-7, .item-10, .item-12 {
        padding: 0;
    }
    .lightbox > div:nth-child(2) {
        display: none;
    }
    .typography {
        margin: 1rem 0;
    }
    #logos, #color-palette {
        flex-direction: row;
    }
}
