header {
    min-height: 600px;
    background-size: cover;
    background-color: rgba(239,125,147,0.75);
 }

 h1, h2 {
     margin-top: 0;
 }

 h4 {
     margin-bottom: 0;
 }

 p {
     line-height: 2.5rem;
 }

 a {
     text-decoration: none;
     color: #06A0A6;
 }

 .navbar.secondary {
     background-color: #333333;
     margin: 0 auto;
     z-index: 4;
 }

 #case-study-menu {
     width: 100%;
     text-align: center;
 }

 #case-study-menu a {
     font-size: 1.125rem;
     margin-left: 0.75rem;
     margin-right: 0.75rem;
     color: #ffffff;
 }

 #case-study-menu li {
     list-style: none;
     display: inline;
 }

 #case-study-menu li:last-child {
     margin-right: 5rem;
 }

 .sticky {
     position: fixed;
     top: 0;
     width: 100%;
 }

 .sticky + .content {
     padding-top: 60px;
}

 #dogtopia-survey {
     background-image: url(../assets/images/dogtopia_survey.jpg);
 }

 #dogtopia-flows {
     background-image: url(../assets/images/dogtopia_flows.png);
     background-attachment: scroll;
     position: relative;
     height: 600px;
 }

 #dogtopia-sketches {
     background-image: url(../assets/images/dogtopia_sketches.jpg);
 }

 #dogtopia-logo-sketches {
     background-image: url(../assets/images/dogtopia_logos.jpg);
 }

 #dogtopia-mockup {
     background-image: url(../assets/images/dogtopia_mockup.jpg);
 }

 #conclusion {
     background-image: url(../assets/images/conclusion.jpg);
 }

 .full-width-image {
     height: 500px;
     background-attachment: fixed;
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
 }

.container {
    padding: 2rem;
}

.center {
    max-width: 965px;
    box-sizing: border-box;
    padding: 2rem;
    text-align: center;
    margin: 0 auto;
}

.flex-container {
    align-items: center;
}

.flex-container.reverse {
    flex-direction: row-reverse;
}

.top {
    align-items: flex-start;
}

.one-half {
    width: 50%;
}

.one-half.center {
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.one-half.flex-column {
    padding-left: 2rem;
}

.one-third {
    width: 33%;
}

.two-thirds {
    width: 66%;
}

.grey-bg {
    background-color: rgba(226,226,226,0.75);
}

.white-bg {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin: 2rem;
}

img.mockup {
    max-height: 600px;
}

.scope {
    text-align: center;
    width: 25%;
}

.scope h3 {
    margin-bottom: 0.25rem;
}

.scope p {
    font-size: 1.125rem;
    margin-top: 0.75rem;
    line-height: 1.75rem;
}

.scope button {
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

.one-third .mockup {
    margin-left: 3rem;
}

#about {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#about p {
    margin-top: 3rem;
}

#data p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 0;
}

.note {
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.margin-left {
    margin-left: 2rem;
}

#analysis {
    margin: 4rem 1rem 4rem 2rem;
}

table {
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
}

thead th:first-child {
    border-top-left-radius: 4px;
}

thead th:last-child {
    border-top-right-radius: 4px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
}

th {
    color: #ffffff;
    font-family: 'Muli';
    font-size: 1.75rem;
    padding: 1rem;
    background-color: #06A0A6;
}

tr {
    background-color: #ffffff;
}

td {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 1.5rem;
    padding: 0.75rem 0.5rem;
}

td {
    text-align: center;
}

td:first-child {
    text-align: left;
}

.user {
    padding: 2rem;
}

.user p {
    font-size: 1.125rem;
    text-align: left;
}

.user .title {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0;
}

h3.name {
    text-align: center;
    margin-bottom: 0.5rem;
}

img.user-photo {
    border-radius: 50%;
    max-width: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-left: 17%;
}

#user-stories {
    background-color: rgba(51,51,51,0.75);
    color: #ffffff;
    border-radius: 4px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#user-stories h2 {
    color: #ffffff;
}

.left {
    text-align: left;
}

.lightbox {
    margin: 0 auto;
}

.lightbox > .column {
  padding: 0 8px;
}

.lightbox:after {
  content: "";
  display: table;
  clear: both;
}

.two-column {
    float: left;
    width: 50%;
}

.four-column {
    float: left;
    width: 25%;
}

.thumbnails {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.thumbnail {
    padding-left: 1rem;
    padding-right: 1rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 5;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal-open {
    text-align: center;
    color: #06A0A6;
    padding-top: 1rem;
}

.modal-open:hover {
    cursor: pointer;
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  max-height: 80vh;
  max-width: 300px;
}

.thumbnail-container {
    width: 100%;
    margin-top: 2rem;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.slides,
.images {
  display: none;
  margin-top: -2rem;
  max-height: 500px;
  margin-bottom: 2rem;
}

.slides img
.images img {
    height: 60vh;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  background-color: rgba(0,0,0,0.3);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.thumb,
img.dots {
  opacity: 0.6;
}

.active,
.thumb:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slider {
    height: 85vh;
    width: 100%;
    position: relative;
    margin: 0 auto;
    background-color: #ffffff;
}

.slider-contents {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.dot {
    position: absolute;
    bottom: 50px;
    left: 50%;
    right: 50%;
    display: block;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border: 1px solid #06A0A6;
    border-radius: 50%;
}

.dot:last-child {
    margin-left: 2rem;
}

.dot.green {
    background-color: #06A0A6;
}

.fas.fa-angle-right {
    margin-right: 2rem;
}

.fas.fa-angle-left,
.fas.fa-angle-right {
    font-size: 2rem;
    color: #333333;
}

[id^="item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
}

*:target ~ .item-1 {
    opacity: 0;
}

#item-1:target ~ .item-1 {
    opacity: 1;
}

#item-2:target ~ .item-2 {
    z-index: 3;
    opacity: 1;
}

.slider-text {
    max-width: 60%;
    padding-right: 2rem;
}

.slider-image {
    display: block;
    text-align: center;
    padding-right: 6rem;
    padding-left: 2rem;
    padding-top: 2rem;
}

.slider-image p {
    font-size: 1rem;
}

.typography {
    height: 300px;
    width: 90%;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
}

.typography h4 {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: -1rem;
}

.lato h4,
.lato p {
    font-family: 'Lato';
    font-weight: 700;
    line-height: 1.75rem;
}

.open-sans h4,
.open-sans p {
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 1.75rem;
}

.flex-column.one-half {
    margin-left: -2rem;
}

.branding {
    justify-content: center;
}

.project-logo {
    border-radius: 4px;
    box-sizing: border-box;
    width: 230px;
    height: 230px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding-left: 60px;
    padding-top: 50px;
    margin: 1.25rem;
}

#gradient {
    background: linear-gradient(to top right, #f06449, #e7524e);
}

#orange-on-grey {
    background-color: #e2e2e2;
}

.color {
    width: 140px;
    height: 140px;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    padding-top: 60px;
    margin: 1.25rem;
}

#teal {
    background-color: #2ec4b6;
}

#orange {
    background-color: #f06449;
}

#red {
    background-color: #e7524e;
}

#black {
    background-color: #333333;
}

#grey {
    background-color: #e2e2e2;
    color: #333333;
}

#white {
    background-color: #ffffff;
    color: #333333;
}

.case-study-nav li {
    list-style: none;
    display: inline;
}

.case-study-nav li:last-child {
    float: right;
    margin-right: 2rem;
}
