header {
    min-height: 500px;
    background-color: rgba(239,125,147,0.75);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
 }

 #main-menu a {
     font-weight: 400;
 }

#dogtopia {
     background-image: url(../assets/images/dogtopia/dogtopia_header.jpg);
 }

 .menu-container > label {
     color: #333333;
 }

h2 {
    padding-bottom: 15px;
}

h5 {
     font-size: 18px;
     font-family: 'Muli';
     padding-bottom: 10px;
     margin: 0;
}

a {
     text-decoration: none;
     color: #06A0A6;
}

p {
     padding-bottom: 25px;
}

p.copyright {
    padding-bottom: 0;
}

.grey-bg {
    background: #e2e2e2;
}

.white-bg {
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 25px;
}

#case-study-menu {
    width: 100%;
    text-align: center;
    background-color: #333333;
    z-index: 4;
    padding: 5px 0;
}

ul {
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
}

#case-study-menu a {
    font-size: 14px;
    margin-left: 15px;
    margin-right: 15px;
    color: #ffffff;
}

#case-study-menu li {
    list-style: none;
    display: inline;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

#dogtopia-survey {
    background-image: url(../assets/images/dogtopia/dogtopia_survey.jpg);
}

#blocbox-survey {
    background-image: url(../assets/images/blocbox/blocbox_survey.jpg);
}

#dogtopia-flows {
    background-image: url(../assets/images/dogtopia/dogtopia_flows.png);
    background-attachment: scroll;
    position: relative;
    height: 600px;
}

#blocbox-flows {
    background-image: url(../assets/images/blocbox/blocbox_flows.png);
    background-attachment: scroll;
    position: relative;
    height: 600px;
}

#dogtopia-sketches {
    background-image: url(../assets/images/dogtopia/dogtopia_sketches.jpg);
}

#dogtopia-logo-sketches {
    background-image: url(../assets/images/dogtopia/dogtopia_logos.jpg);
}

#blocbox-logo-sketches {
    background-image: url(../assets/images/blocbox/blocbox_logos.jpg);
}

#dogtopia-mockup {
    background-image: url(../assets/images/dogtopia/dogtopia_mockup.jpg);
}

#blocbox-mockup {
    background-image: url(../assets/images/blocbox/blocbox_mockup.jpg);
}

#conclusion {
    background-image: url(../assets/images/conclusion.jpg);
}

.full-width-image {
    height: 500px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

img.mockup {
    max-height: 500px;
}

img.blocbox-mockup {
    width: 600px;
}

.grid-container {
    display: grid;
    align-items: center;
}

.center {
    max-width: 830px;
    text-align: center;
    margin: 0 auto;
}

.about img {
    width: 200px;
    padding-bottom: 15px;
}

.data {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.scope p, .data p {
    margin-top: 0;
    font-size: 14px;
    line-height: 20px;
}

.item-1 {
    grid-row-start: 1;
    grid-column: 3;
    max-width: 700px;
}

.item-2 {
    grid-row-start: 1;
    grid-column: 2 / 3;
}

.item-3 {
    grid-row-start: 1;
    grid-column: 2 / 4;
}

.item-4 {
    grid-row-start: 1;
    grid-column: 4 / 5;
    display: grid;
    padding: 15px;
    justify-content: center;
}

.data-item-1, .data-item-2 {
    grid-row: 1;
}

.data-item-3, .data-item-4 {
    grid-row: 2;
}

.data h1 {
    margin-bottom: 0;
    margin-top: 25px;
}

.note {
    font-weight: 300;
    font-style: italic;
    font-size: 12px;
    margin-top: 10px;
    grid-column: 1 / 3;
    text-align: center;
    font-family: 'Montserrat';
}

table {
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

thead th:first-child {
    border-top-left-radius: 4px;
}

thead th:last-child {
    border-top-right-radius: 4px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
}

th {
    color: #ffffff;
    font-family: 'Muli';
    font-size: 24px;
    padding: 15px;
    background-color: #06A0A6;
}

tr {
    background-color: #ffffff;
}

td {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 20px;
    padding: 12px 10px;
    text-align: center;
    letter-spacing: 2px;
}

td:first-child {
    text-align: left;
}

.legend {
    font-family: 'Montserrat' !important;
}

.item-5 {
    grid-row-start: 1;
    grid-column: 4 / 5;
}

.item-6 {
    grid-row-start: 1;
}

.user {
    text-align: center;
    padding-top: 30px;
}

img.user-photo {
    border-radius: 50%;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin: 15px auto;
}

.user h5 {
    text-align: left;
}

.title {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 40px;
    line-height: 20px;
}

.user-text li, p.user-text {
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    font-family: 'Montserrat';
}

.user-text li {
    padding-bottom: 5px;
}

ul.user-text {
    margin-left: 20px;
}

#user-stories {
    background-color: rgba(51,51,51,0.75);
    border-radius: 4px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#user-stories h2 {
    color: #ffffff;
}

#user-stories p {
    text-align: left;
    color: #ffffff;
}

.item-7 {
    grid-row-start: 1;
    grid-column: 4 / 5;
}

.item-8 {
    grid-row-start: 1;
}

.item-9 {
    grid-row: 6;
}

.lightbox {
    margin: 0 auto;
    text-align: center;
}

.lightbox img:hover {
    cursor: pointer;
}

.grey-bg > .container > .lightbox img {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.lightbox:after {
    content: "";
    display: table;
    clear: both;
}
.thumbnails {
    display: flex;
    justify-content: center;
}

.thumbnail {
    padding-left: 15px;
    padding-right: 15px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 5;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}


.modal-open {
    text-align: center;
    padding-top: 15px;
}

.modal-open > span {
    color: #06A0A6;
    font-family: 'Montserrat';
}

.modal-open > span:hover {
    cursor: pointer;
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  height: 70vh;
}

.thumbnail-container {
    width: 100%;
    margin-top: 50px;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  z-index: 5;
}

.close:hover,
.close:focus {
  color: #999999;
  text-decoration: none;
  cursor: pointer;
}

.slides,
.images {
  display: none;
  margin-top: -80px;
  text-align: center;
}

.slides img
.images img {
    height: 500px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  background-color: rgba(0,0,0,0.3);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: #000000;
}

#captiontext, #caption {
      color: #ffffff;
}

img.thumb,
img.dots {
  opacity: 0.6;
}

.active,
.thumb:hover,
.dots:hover {
  opacity: 1;
}

.user-testing {
    text-align: left;
}

img.user-test {
    margin-left: 15px;
    margin-right: 15px;
}

video {
    width: 80vw;
}

.item-10 {
    grid-row-start: 1;
}

.item-11 {
    grid-row-start: 1;
}

.typography {
    padding: 15px;
    margin: 10px;
    max-width: 500px;
    letter-spacing: 0;
}

.typography h4 {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 25px;
}

.lato h4,
.lato p {
    font-family: 'Lato';
    font-weight: 700;
}

.open-sans h4,
.open-sans p {
    font-family: 'Open Sans';
    font-weight: 400;
}

.item-13 {
    grid-row-start: 1;
}

.item-12 {
    grid-row-start: 1;
    grid-column: 2 / 6;
}

.project-logo {
    margin: 2%;
}

.project-logo img {
    padding: 40px 60px;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#gradient img {
    background: linear-gradient(to top right, #f06449, #e7524e);
}

#orange-on-grey img {
    background-color: #e2e2e2;
}

.blocbox-logo img {
    width: 130px;
}

.blocbox-logo {
    display: flex;
    border-radius: 4px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.blocbox-logo h3 {
    padding-left: 20px;
    font-size: 36px;
    font-family: 'Montserrat';
}

#light {
    background-color: #e2e2e2;
}

#dark {
    background-color: #534365;
}

#dark h3 {
    color: #ffffff;
}

#color-palette {
    flex-wrap: wrap;
}

.color {
    font-family: 'Montserrat';
    width: 140px;
    height: 140px;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    line-height: 140px;
    margin: 6px;
}

#teal {
    background-color: #2ec4b6;
}

#orange {
    background-color: #f06449;
}

#red {
    background-color: #e7524e;
}

#black {
    background-color: #333333;
}

#purple {
    background-color: #534365;
}

#blue {
    background-color: #363490;
}

#green {
    background-color: #4dd5b0;
}

#lavendar {
    background-color: #705ab2;
}

#grey {
    background-color: #e2e2e2;
    color: #333333;
}

#white {
    background-color: #ffffff;
    color: #333333;
}

.image-container {
    margin-top: 40px;
}

.image-container > .one-third > p {
    font-size: 18px;
}

#prototype {
    text-align: center;
    margin-bottom: 20px;
}

.case-study-nav {
    display: flex;
    justify-content: center;
}

.case-study-nav li {
    font-size: 20px;
    list-style: none;
    margin-left: 30px;
    margin-right: 30px;
}

.case-study-nav li a {
    color: #333333;
}

a.active {
    color: #e2e2e2 !important;
}

footer {
    padding-top: 0 !important;
}

@media (min-width: 1000px) {
    .container {
         padding: 100px 160px;
     }
    .about p {
        line-height: 36px;
    }
    #scope {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #scope > .flex-container {
        margin: 0 auto;
        justify-content: space-between;
    }
    .item-13 {
        max-width: 550px;
    }
    .user {
        padding-right: 40px;
        width: 33%;
    }
    .user:last-child {
        padding-right: 0;
    }
    .persona {
        height: 380px;
    }
    .goals, .frustrations {
        height: 170px;
    }
    .goal, .frustration {
        height: 210px;
    }
}

@media (max-width: 1200px) {
    .color {
        width: 100px;
        height: 100px;
        line-height: 100px;
    }
    .project-logo img {
        padding: 20px 30px;
    }
    .container {
        padding: 100px;
    }
    #scope p {
        font-size: 12px;
    }
    .scope:first-child {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 1000px) {
    p {
        font-size: 18px;
    }
    .container {
        padding: 50px 80px;
    }
    table {
        margin-bottom: 15px;
    }
    th {
        font-size: 20px;
        padding: 10px;
    }
    td {
        font-size: 16px;
        padding: 10px 5px;
    }
    .legend {
        font-size: 14px;
    }
    .white-bg.flex-container, #personas {
        flex-direction: column;
    }
    .mobile-hide {
        display: none;
    }
    .blocbox-logo img {
        width: 100px;
    }
    .blocbox-logo {
        padding: 10px;
    }
    .blocbox-logo h3 {
        font-size: 24px;
    }
    .scope:nth-child(3), .scope:last-child, .item-11 {
        grid-row-start: 2;
    }
}

@media (max-width: 930px) {
    p {
        font-size: 16px;
    }
    .scope:first-child {
        padding-left: 0;
        padding-right: 10px;
    }
}

@media (min-width: 681px) {
    p.copyright {
        line-height: 15px;
    }
    .one-third {
        width: 33%;
        text-align: center;
    }
   .top {
       margin-bottom: 50px;
   }
   #scope > .flex-container {
       align-items: flex-start;
   }
   .lightbox img {
       margin: 0 15px;
   }
}

@media (max-width: 680px) {
    #blocbox-logo-sketches {
        background-position: 90%;
    }
    h1 {
        margin-top: 30px;
    }
    .overview > .center {
        text-align: center;
    }
    .container {
        padding: 50px 30px;
    }
    .scope:first-child {
        padding-right: 0;
    }
    img.blocbox-mockup {
        width: 90vw;
    }
    .thumbnails {
        overflow-x: scroll;
    }
    .thumbnail {
        padding-left: 5px;
        padding-right: 5px;
    }
    .flex-container {
        justify-content: center;
        text-align: center;
    }
    .grey-bg.grid-container {
        display: flex;
        flex-direction: column;
    }
    .grid-container, .item-4 {
        display: flex;
        flex-direction: column;
    }
    .center {
        text-align: left;
    }
    #case-study-menu {
        text-align: left;
        line-height: 30px;
    }
    .item-2 {
        margin: 0 auto;
    }
    .title {
        margin-bottom: 20px;
    }
    #user-stories {
        width: 90%;
    }
    .lightbox > div:nth-child(2) {
        display: none;
    }
    video {
        width: 90vw;
    }
    .typography {
        margin: 15px 0;
    }
    #logos, #color-palette {
        flex-direction: row;
    }
}
