@keyframes showup {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes slidein {
    0% { margin-left:-2000px; }
    20% { margin-left:-2000px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

header {
    min-height: 600px;
    color: #ffffff;
    background-size: cover;
    background-color: rgba(239,125,147,0.75);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
 }

 .greeting {
     font-family: 'Muli';
     font-weight: 700;
     padding-top: 65px;
     font-size: 48px;
     text-align: center;
 }

 .appear {
     display: inline-block;
     overflow: hidden;
     white-space: nowrap;
     animation: showup 2s forwards;
 }

 .reveal {
     margin-left: -355px;
     animation: slidein 7s forwards;
 }

 .reveal > span {
     color: #ffffff;
 }

 .flex-container.container {
     padding-top: 100px;
 }

 .hello, .form {
     width: 50%;
 }

 .hello > p {
     max-width: 540px;
     line-height: 44px;
     font-size: 28px;
     margin-top: 0;
 }

 input[type=text], select, textarea {
    font-family: 'Montserrat';
    width: 100%;
    padding: 15px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
    resize: vertical;
}

input[type=submit] {
    font-family: 'Montserrat';
    border: 3px solid #06A0A6;
    color: #06A0A6;
    width: 300px;
    height: 60px;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #06A0A6;
    color: #ffffff;
}

.hello a {
    text-decoration: none;
    color: #06A0A6;
}

@media (max-width: 980px) {
    .hello > p {
        line-height: 40px;
        font-size: 24px;
    }
}

@media (max-width: 680px) {
    .hello, .form {
        width: 100%;
    }
    .hello > p {
        margin: 0 auto;
        padding-left: 32px;
        padding-right: 32px;
    }
    .form > form {
        margin: 15px 20px;
    }
    input[type=submit] {
        width: 100%;
    }
    .greeting {
        font-size: 32px;
        padding-top: 130px;
    }
}
