@keyframes showup {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes slidein {
    0% { margin-left:-2000px; }
    20% { margin-left:-2000px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

header {
    min-height: 600px;
    color: #ffffff;
    background-size: cover;
    background-color: rgba(239,125,147,0.75);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
 }

 .greeting {
     font-family: 'Muli';
     font-weight: 700;
     padding-top: 4rem;
     font-size: 3rem;
     text-align: center;
 }

 .appear {
     display: inline-block;
     overflow: hidden;
     white-space: nowrap;
     animation: showup 2s forwards;
 }

 .reveal {
     margin-left: -355px;
     animation: slidein 7s forwards;
 }

 .profile-image {
     position: absolute;
     left: 50%;
     top: 50%;
     margin-left: -150px;
 }

 .profile-image img {
     border-radius: 100%;
     width: 300px;
 }

 .flex-container {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }

 .container {
     width: 50%;
     margin-top: 10rem;
 }

 .container > p {
     max-width: 540px;
     line-height: 2.75rem;
     font-size: 1.75rem;
     margin-top: 0;
     margin-left: 4rem;
     margin-right: 1rem;
 }

 .container > form {
     margin-right: 4rem;
     margin-left: 1rem;
 }

 input[type=text], select, textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 1rem;
    resize: vertical;
}

input[type=submit] {
    background-color: #06A0A6;
    color: white;
    width: 300px;
    height: 60px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background: rgba(0,0,0,0);
    box-shadow: inset 0 0 0 3px #06A0A6;
    color: #06A0A6;
}

a {
    text-decoration: none;
    color: #06A0A6;
}

@media (max-width: 980px) {
    .container > p {
        line-height: 2.5rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 660px) {
    .profile-image {
        margin-left: -100px;
    }
    .profile-image img {
        width: 200px;
    }
    .flex-container {
        flex-direction: column;
    }
    .container {
        width: 100%;
        margin-top: 4rem;
    }
    .container > p {
        margin: 0 auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .container > form {
        margin: 1rem 1.2rem;
    }
    input[type=submit] {
        width: 100%;
    }
    .greeting {
        font-size: 2rem;
        padding-top: 8rem;
    }
}
