@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}

@-webkit-keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
}

@-webkit-keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRightBig {
    -webkit-animation-name: fadeInRightBig;
    animation-name: fadeInRightBig;
}

.hero-text {
    width: 40%;
    min-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.hero-text h1,
.hero-text h2,
.hero-text p {
    color: #ffffff;
    text-align: center;
    padding-bottom: 5%;
    letter-spacing: 0.10rem;
}

.hero-text h1 {
    padding-top: 15%;
    font-size: 4rem;
    margin: 0 auto;
    animation: bounceInDown 1.2s ease-in-out 0.5s backwards;
}

.hero-text h2 {
    font-weight: 300;
    font-size: 2.25rem;
    line-height: 2.8rem;
    margin: 0 auto;
    animation: bounceInLeft 1.2s ease-in-out 0.5s backwards;
}

.hero-text p {
    font-family: 'Muli';
    font-weight: 300;
    font-size: 1.875rem;
    animation: bounceInRight 1.2s ease-in-out 0.5s backwards;
}

.hero-text i {
    animation: bounceInRight 1.2s ease-in-out 0.5s backwards;
}

#view-work {
    color: #ffffff;
    font-size: 1.875rem;
}

.hero-content {
    position: relative;
    min-height: 875px;
    background-image: url(../assets/images/portfolio_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(239,125,147,0.75);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
 }

 section:nth-child(even) {
     background-color: rgba(254,166,166,0.3);
 }

.tag {
    background: #FEA6A6;
    border-radius: 15px;
    padding: 1% 2%;
    color: #ffffff;
    font-size: 0.875rem;
    margin-right: 0.15rem;
}

.thumbnail img {
    width: 95%;
    height: auto;
    margin: 0 auto;
}

.thumbnail {
    width: 50%;
}

.details {
    width: 50%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
}

.flex-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-container:nth-child(odd) .details {
    padding-left: 5%;
    padding-top: 5%;
}

.flex-container:nth-child(even) .details {
    padding-right: 5%;
    padding-left: 5%;
}

.flex-container:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 2rem;
}

.details p {
    max-width: 570px;
    line-height: 2rem;
    font-size: 1.45rem;
    padding-top: 5%;
    padding-bottom: 5%;
}

.process > .flex-container {
    padding: 0;
}

.process {
    padding: 2rem 2rem;
    text-align: center;
    background-image: url(../assets/images/marble_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.overlay {
    background-color: rgba(255,255,255,0.75);
    padding-top: 2rem;
}

.process > h2 {
    padding-bottom: 0;
}

#subtitle {
    font-size: 1.5rem;
    margin-top: -0.75rem;
}

.one-fourth {
    padding-right: 1rem;
}

.icon {
    width: 150px;
    height: 150px;
    background-color: #333333;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 0 auto;
}

.icon > .fas {
    color: #ffffff;
    font-size: 3rem;
    padding: 3rem;
    align-items: center;
}

.icon > .fa-edit {
    padding-left: 3.25rem;
}

.icon > .fa-code-branch {
    padding-left: 3.5rem;
}

.icon > .fa-code {
    padding-left: 2.8rem;
    padding-top: 3.15rem;
}

.one-fourth > h1 {
    font-size: 2rem;
}

.one-fourth > p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 0.5rem;
}


@media (max-width: 1080px) {
    .hero-text h1 {
        font-size: 3rem;
    }
    .hero-text h2 {
        font-size: 2rem;
    }
    .hero-text p {
        font-size: 1.2rem;
    }
    .details p {
        font-size: 1.2rem;
        max-width: 440px;
    }
    .tag {
        font-size: 0.75rem;
        margin-left: 0;
        margin-right: 0;
    }
    .details {
        width: 60%;
    }
    .thumbnail {
        width: 40%;
    }
    .thumbnail img {
        margin-top: 20%;
        margin-bottom: 20%;
    }
    .overlay > .flex-container {
        flex-direction: column;
    }
}

@media (max-width: 930px) {
    .details p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .tag {
        font-size: 0.5rem;
    }
}

@media (min-width: 681px) {
    .details.even,
    .thumbnail.odd {
        animation: fadeInRightBig 1.5s ease-in-out forwards;
    }
    .details.odd,
    .thumbnail.even {
        animation: fadeInLeftBig 1.5s ease-in-out forwards;
    }
}

@media (max-width: 680px) {
    .hero-text {
        min-width: 300px;
    }
    .hero-content {
        min-height: 600px;
    }
    .hero-content img {
        width: 25%;
        height: auto;
    }
    .hero-text h1 {
        font-size: 2.25rem;
    }
    .hero-text h2 {
        font-size: 1.3rem;
        line-height: 2rem;
    }
    .hero-text p {
        font-size: 1.15rem;
    }
    .hero-text h1,
    .hero-text h2,
    .hero-text p {
        padding-bottom: 2%;
    }
    .thumbnail {
        width: 100%;
    }
    .thumbnail img {
        padding-bottom: 5%;
        width: 100%;
        margin: 0 auto;
    }
    .details {
        text-align: center;
        width: 100%;
    }
    .details p {
        max-width: 100%;
        font-family: 'Montserrat';
        font-weight: 400;
    }
    .flex-container {
        flex-direction: column;
    }
    .flex-container:nth-child(even) {
        flex-direction: column;
    }
    .flex-container:nth-child(odd) .details,
    .flex-container:nth-child(even) .details {
        padding: 0;
    }
    #subtitle {
        font-size: 1rem;
        line-height: 1.5rem;
        padding-bottom: 0;
    }
    .one-fourth {
        padding-top: 2rem;
    }
    .flex-column {
        flex-direction: column;
    }
}
