@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}

@-webkit-keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
}

@-webkit-keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRightBig {
    -webkit-animation-name: fadeInRightBig;
    animation-name: fadeInRightBig;
}

.hero-text {
    width: 50%;
    min-width: 500px;
    margin: 50px auto;
    text-align: center;
}

.hero-text h2 {
    max-width: 450px;
}

.hero-text h1,
.hero-text h2,
.hero-text p {
    color: #ffffff;
    text-align: center;
    padding-bottom: 15px;
}

.hero-text h1 {
    font-size: 64px;
    animation: bounceInDown 1.2s ease-in-out 0.5s backwards;
}

.hero-text h2 {
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
    margin: 0 auto;
    animation: bounceInLeft 1.2s ease-in-out 0.5s backwards;
}

.hero-text p {
    font-family: 'Muli';
    font-weight: 300;
    font-size: 30px;
    animation: bounceInRight 1.2s ease-in-out 0.5s backwards;
}

.hero-text i {
    animation: bounceInRight 1.2s ease-in-out 0.5s backwards;
}

#view-work {
    color: #ffffff;
    font-size: 26px;
}

.hero-content {
    position: relative;
    min-height: 675px;
    background-image: url(../assets/images/portfolio_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(239,125,147,0.75);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
 }

 section:nth-child(even) {
     background-color: rgba(254,166,166,0.3);
 }

.grid-container {
    display: grid;
    justify-content: center;
    align-items: center;
 }

 .left {
     grid-row-start: 1;
     grid-column: 2 / 4;
 }

 .right {
     grid-row-start: 1;
     grid-column: 5 / 7;
 }

.tag {
    font-family: 'Montserrat';
    background: #FEA6A6;
    border-radius: 15px;
    line-height: 28px;
    padding: 1% 2%;
    color: #ffffff;
    font-size: 0.875rem;
    margin-right: 3px;
}

.right img {
    max-width: 600px;
    width: 90%;
}

.left img {
    max-width: 450px;
    width: 80%;
}

.flex-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.details p {
    max-width: 600px;
    margin: 20px 0;
}

.details h2 {
    margin-bottom: 10px;
}

.process {
    padding: 50px 50px;
    text-align: center;
    background-image: url(../assets/images/marble_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.overlay {
    background-color: rgba(255,255,255,0.75);
    padding: 30px 20px;
}

.overlay h2,
.one-fourth h3  {
    padding-bottom: 10px;
}

#subtitle {
    font-size: 24px;
    padding-bottom: 25px;
}

.icon {
    width: 150px;
    height: 150px;
    background-color: #333333;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 10px auto;
}

.icon > .fas {
    color: #ffffff;
    font-size: 48px;
    padding: 50px;
    align-items: center;
}

.icon > .fa-edit {
    padding-left: 52px;
}

.icon > .fa-code-branch {
    padding-left: 56px;
}

.icon > .fa-code {
    padding-left: 45px;
    padding-top: 50px;
}


@media (max-width: 1100px) {
    .hero-text h1 {
        font-size: 48px;
    }
    .hero-text h2 {
        font-size: 32px;
    }
    .hero-text p {
        font-size: 20px;
    }
    .thumbnail img {
        max-width: 400px;
    }
    .details p {
        font-size: 16px;
        max-width: 440px;
    }
    .tag {
        font-size: 12px;
        margin-left: 0;
        margin-right: 0;
    }
    .overlay > .flex-container {
        flex-direction: column;
    }
}

@media (max-width: 880px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .right, .left {
        margin: 0;
    }
    .thumbnail {
        width: 100%;
        padding: 0;
        margin-bottom: 40px;
    }
    .thumbnail img {
        width: 100%;
    }
    .details {
        text-align: center;
        width: 100%;
        padding: 0;
    }
    .details p {
        max-width: 100%;
    }
}

@media (min-width: 681px) {
    .details.even,
    .thumbnail.odd {
        animation: fadeInRightBig 1.5s ease-in-out forwards;
    }
    .details.odd,
    .thumbnail.even {
        animation: fadeInLeftBig 1.5s ease-in-out forwards;
    }
    .one-fourth > p {
        font-size: 16px;
        line-height: 22px;
        max-width: 300px;
        padding: 0 15px;
    }
    .overlay > .flex-container > .flex-column {
        flex-direction: row;
    }
}

@media (max-width: 680px) {
    .hero-text {
        min-width: 300px;
    }
    .hero-content {
        min-height: 600px;
        background-position: 60% 50%;
    }
    .hero-content img {
        width: 25%;
        height: auto;
    }
    .hero-text h1 {
        font-size: 36px;
    }
    .hero-text h2 {
        font-size: 20px;
        line-height: 26px;
    }
    .hero-text p {
        font-size: 18px;
    }
    .hero-text h1,
    .hero-text h2,
    .hero-text p {
        padding-bottom: 2%;
    }
    #subtitle {
        font-size: 16px;
        line-height: 18px;
        padding-bottom: 0;
    }
    .one-fourth {
        padding: 32px 10px 0 10px;
    }
    .one-fourth > h1 {
        font-size: 24px;
    }
    .icon {
        width: 100px;
        height: 100px;
    }
    .icon > .fas {
        font-size: 24px;
        padding: 36px;
    }
    .icon > .fa-edit,
    .icon > .fa-code-branch {
        padding-left: 40px;
    }
    .icon > .fa-code {
        padding-top: 38px;
    }
    .flex-column {
        flex-direction: column;
    }
}
