html {
    height: 100%;
    font-size: 100%;
}

body {
    font-family: 'Montserrat';
    color: #333333;
    letter-spacing: 0.10rem;
    min-height: 100%;
}

h1, h2, h3 {
    font-family: 'Muli';
    font-weight: 700;
    color: #333333;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

.navbar {
    padding: 0.5rem;
    margin-right: 5%;
    margin-bottom: 0;
    transition: all 0.3s cubic-bezier(0.7,10.7,1);
 }

.navbar .logo {
    position: relative;
    left: 5%;
    width: 10%;
    min-width: 75px;
 }

.navbar-collapse {
    max-height: 100%;
    padding-left: 0;
    padding-right: 0;
    transition: all 0.3s cubic-bezier(0.7,1,0.7,1);
}

.navbar-nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar {
    margin-bottom: 0;
    transition: all 0.3s cubic-bezier(0.7,1,0.7,1);
    position: relative;
}

.navbar-nav {
    padding-right: 30px;
    list-style: none;
    margin-top: 55px;
    padding-right: 20px;
}

li.nav-item {
    position: relative;
    float: left;
    height: 75px;
}

a.nav-item-child {
    font-size: 3rem;
    text-decoration: none;
    color: #ffffff;
    line-height: 2rem;
    transition: all 0.3s cubic-bezier(0.7,1,0.7,1);
}

.navbar-nav>li.nav-item>a:hover {
    margin-bottom: 10px;
    border-bottom: 2px solid #EF7D93;
    padding-bottom: 3px;
    color: #EF7D93;
}

/*.nav-item-child:focus, .header .nav-item-child:hover {
    background: inherit;
}*/

.nav-item-hover:after,
.link:after,
.work .work-overlay:before {
    content: " ";
}

/*.navbar-toggle {
    width: 45px;
    height: 35px;
    border: none;
    margin: 35px 0;
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 31px;
    margin-right: 35px;
    margin-bottom: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
}*/

.navbar-toggle .toggle-icon {
    position: relative;
    width: 21px;
    height: 1px;
    display: inline-block;
    background: #ffffff;
    transition: all 0.3s cubic-bezier(0.7,1,0.7,1);
}

.navbar-toggle .toggle-icon:after,
.navbar-toggle .toggle-icon:before {
    position: absolute;
    left: 0;
    background: #ffffff;
    content: " ";
}

.navbar-toggle .toggle-icon:before {
    width: 10px;
    height: 1px;
    bottom: 10px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: (0);
    transition: all 0.3s cubic-bezier(0.7,1,0.7,1);
}

.navbar-toggle .toggle-icon:after {
    width: 16px;
    height: 1px;
    top: -5px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: (0);
    transition: all 0.3s cubic-bezier(0.7,1,0.7,1);
}

.navbar-toggle:hover .toggle-icon {
    background: #ae952e;
    transition: all 0.3s cubic-bezier(0.7,1,0.7,1);
}

.navbar-toggle:hover .toggle-icon:after,
.navbar-:hover .toggle-icon:before {
    width: 21px;
    height: 1px;
    background: #ae952e;
    transition: all 0.3s cubic-bezier(0.7,1,0.7,1);
}

.logo,
.nav-item.active .nav-item-hover:after,
.nav-item:hover .nav-item-hover:after {
    transition: all 0.3s cubic-bezier(0.7,1,0.7,1);
}

/*.navbar-toggle:hover .toggle-icon-is-clicked {
    background: rgba(81,87,105,0);
}*/

.hero-text {
    width: 40%;
    min-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.hero-text h1,
.hero-text h2,
.hero-text p {
    color: #ffffff;
    text-align: center;
    padding-bottom: 5%;
    letter-spacing: 0.10rem;
}

.hero-text h1 {
    padding-top: 15%;
    font-size: 4rem;
    margin: 0 auto;
}

.hero-text h2 {
    font-weight: 300;
    font-size: 2.25rem;
    line-height: 2.8rem;
    margin: 0 auto;
}

.hero-text p {
    font-family: 'Muli';
    font-weight: 300;
    font-size: 1.875rem;
}

#view-work {
    color: #ffffff;
    font-size: 1.875rem;
}

.hero-content {
    position: relative;
    min-height: 875px;
    background-image: url(../assets/images/portfolio_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #FEA6A6;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
 }

.tag {
    background: #FEA6A6;
    border-radius: 15px;
    padding: 1% 2%;
    color: #ffffff;
    font-size: 0.875rem;
    margin-right: 0.15rem;
}

.thumbnail img {
    width: 95%;
    height: auto;
    margin: 0 auto;
}

.thumbnail {
    width: 50%;
}

.details {
    width: 50%;
}

.flex-container-even {
    display: flex;
    flex-direction: row;
}

.flex-container-even .details {
    padding-left: 8%;
    padding-top: 5%;
}

.flex-container-odd {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgba(254,166,166,0.3);
}

.flex-container-even,
.flex-container-odd {
    justify-content: space-between;
    padding: 5%;
}

.details p {
    max-width: 570px;
    line-height: 2rem;
    font-size: 1.45rem;
    padding-top: 5%;
    padding-bottom: 5%;
}

.button {
    border-radius: 0.4rem;
    background-color: #06A0A6;
    color: #ffffff;
    text-decoration: none;
    padding: 1.25rem 5%;
}

.button:hover {
    opacity: 0.8;
}

footer {
    padding-top: 5%;
}

.chat {
    padding-bottom: 6rem;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.chat h1 {
    padding-bottom: 2rem;
}

.chat .button {
    background-color: #EF7D93;
    padding: 1.25rem 20%;
}

.footer-content {
    color: #ffffff;
    background-color: #06A0A6;
    height: 90px;
}

.copyright {
     font-size: 0.875rem;
     text-align: left;
     margin-left: 2rem;
     position: relative;
     top: 3.5rem;
 }

.footer-links {
    text-decoration: none;
    font-size: 2.5rem;
    width: 265px;
    margin: 0 auto;
}

.footer-links a {
    display: inline;
    color: #ffffff;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

i {
    vertical-align: baseline;
    position: relative;
}

.fa-linkedin-in {
    bottom: 3px;
}

.footer-links a:hover {
    color: #EF7D93;
}
@media (min-width: 651px) {
    .navbar-toggle {
        display: none;
    }
}
@media (max-width: 1080px) {
    .hero-text h1 {
        font-size: 3rem;
    }
    .hero-text h2 {
        font-size: 2rem;
    }
    .hero-text p {
        font-size: 1.2rem;
    }
    h2 {
        font-size: 2rem;
    }
    .details p {
        font-size: 1.2rem;
        max-width: 440px;
    }
    .tag {
        font-size: 0.75rem;
        margin-left: 0;
        margin-right: 0;
    }
    .details {
        width: 60%;
    }
    .thumbnail {
        width: 40%;
    }
    .thumbnail img {
        margin-top: 20%;
        margin-bottom: 20%;
    }
}
@media (max-width: 991px) {
    .navbar-nav {
        margin: 0;
        float: none;
    }
    .navbar-nav .nav-item {
        float: none;
    }
    .menu-container:after,
    .menu-container:before {
        content: " ";
        display: table;
    }
    .menu-container:after {
        clear: both;
    }
    .nav-item-child {
        line-height: 1.4;
        padding: 12px 12px 12px 15px;
    }
    .nav-item-hover:after {
        position: absolute;
        top: 19px;
    }
    #toggle, #toggle + label {
        display: inherit;
    }
    #toggle {
        width: 45px;
        height: 40px;
        opacity: 0;
        margin: 35px 0;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 1000;
        float: right;
        padding: 9px 10px;
        margin-top: 31px;
        margin-right: 35px;
        margin-bottom: 8px;
        cursor: pointer;
    }
    .menu-mobile {
        padding-top: 50px;
        text-align: center;
        background: #9b9b9b;
        color: #ffffff;
        width: 100%;
        height: 0px;
        overflow: hidden;
        transition: height 300ms cubic-bezier(0.17,0.04,0.03,0.94);
    }
    #toggle:checked ~ .menu-mobile {
        height: 300px;
    }
    #toggle + label {
        position: absolute;
        top: 27px;
        right: 50px;
        border: none;
        color: #ffffff;
    }
    #toggle + label:after {
        content: '\2630';
        font-size: 1.7rem;
    }
    #toggle:hover + label {
        color: #EF7D93;
    }
    #toggle:checked ~ .message {
        height: 150px;
    }
    #toggle:checked + label:after {
        content: '\2573';
        font-size: 1.4rem;
    }
}
@media (min-width: 992px) {
    .navbar-nav-right {
        float: right;
    }
}
@media (max-width: 930px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    .details p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .tag {
        font-size: 0.6rem;
    }
    .button {
        font-size: 0.9rem;
    }
    .footer-links {
        width: 230px;
    }
    .footer-links a {
        font-size: 2rem;
        position: relative;
        bottom: 1rem;
    }
    .copyright {
        font-size: 0.75rem;
        text-align: center;
        margin-left: 0;
        top: 4rem;
    }
}

@media (max-width: 660px) {
    h1 {
        font-size: 2.25rem;
    }
    body {
        font-size: 1.125rem;
    }
    .navbar .logo {
        left: 1.5rem;
        width: 75px;
    }
    .navbar .menu-container {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 0;
        margin-right: 0;
    }
    .navbar>.container,
    .navbar>.container>.nav-collapse {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .navbar>.container {
        width: auto;
     }
    .hero-text {
        min-width: 300px;
    }
    .hero-content {
        min-height: 600px;
    }
    .hero-content img {
        width: 25%;
        height: auto;
    }
    .hero-text h1 {
        font-size: 2.25rem;
    }
    .hero-text h2 {
        font-size: 1.3rem;
        line-height: 2rem;
    }
    .hero-text p {
        font-size: 1.15rem;
    }
    .hero-text h1,
    .hero-text h2,
    .hero-text p {
        padding-bottom: 2%;
    }
    .thumbnail {
        width: 100%;
    }
    .thumbnail img {
        padding-bottom: 5%;
        width: 100%;
        margin: 0 auto;
    }
    .flex-container-even,
    .flex-container-odd {
        flex-direction: column;
        padding-bottom: 10%;
    }
    .flex-container-even .details {
        padding-left: 0;
        padding-top: 0;
    }
    .details {
        text-align: center;
        width: 100%;
    }
    .details p {
        max-width: 100%;
    }
    .button {
        padding: 1rem 5%;
    }
    .chat .button {
        padding: 1rem 18%;
    }
}
