html {
    height: 100%;
    font-size: 100%;
    letter-spacing: 1px;
    overflow-x: hidden;
}

p, a {
    font-family: 'Montserrat';
    color: #333333;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'Muli';
    font-weight: 700;
    color: #333333;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 48px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
    text-align: left;
}

.navbar {
    padding: 8px;
    margin-right: 5%;
    margin-bottom: 0;
 }

.image-container {
    position: relative;
}

.profile-image {
    position: absolute;
    left: 50%;
    margin-left: -150px;
    margin-top: -250px;
 }

.profile-image img {
     border-radius: 50%;
     width: 300px;
 }

.menu-container {
    float: right;
    display: flex;
}

.menu-container #main-menu,
.menu-container > input {
    display: none;
}

.menu-container > label {
    display: block;
    font-size: 32px;
    color: #ffffff;
    position: absolute;
    right: 20px;
    width: 36px;
    padding: 0;
    cursor: pointer;
}

.menu-container > input:checked + #main-menu {
    display: block;
    clear: both;
    position: absolute;
    right: 0;
    background: #333333;
    width: 100%;
    margin: 0 auto;
    z-index: 1000;
}

.menu-container a {
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    margin-right: 48px;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #EF7D93;
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.active a {
    color: #ffffff;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-container.no-wrap {
    flex-wrap: nowrap;
}

.container {
    padding: 50px 100px;
}

.button a {
    text-decoration: none;
    color: #06A0A6;
    border: 3px solid #06A0A6;
    border-radius: 4px;
    padding: 20px 60px;
    font-weight: 400;
}

.button a:hover {
    color: #ffffff;
    background-color: #06A0A6;
}

.button {
    margin-top: 40px;
}

footer {
    padding-top: 75px;
}

.chat {
    padding-bottom: 100px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.chat h1 {
    padding-bottom: 25px;
}

#contact a {
    color: #EF7D93;
    border-color: #EF7D93;
    padding: 20px 75px;
}

#contact a:hover {
    color: #ffffff;
    background-color: #EF7D93;
}

.footer-content {
    color: #ffffff;
    background-color: #06A0A6;
    height: 90px;
}

.copyright {
    color: #ffffff;
     font-size: 12px;
     text-align: left;
     margin-left: 32px;
     position: relative;
     top: 55px;
 }

.footer-links {
    width: 100%;
    text-align: center;
}

.footer-links a {
    font-size: 36px;
    display: inline;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}

i {
    vertical-align: baseline;
    position: relative;
}

.fa-linkedin-in {
    bottom: 3px;
}

.footer-links a:hover {
    color: #EF7D93;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}

@media (max-width: 1080px) {
    h2 {
        font-size: 32px;
    }
    .container {
        padding: 50px 80px;
    }
}

@media (max-width: 930px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 28px;
    }
    .footer-links a {
        font-size: 32px;
        line-height: 1;
    }
    .copyright {
        text-align: center;
        margin-left: 0;
    }
}

@media (min-width: 681px) {
    p {
        font-size: 18px;
        line-height: 1.5;
    }
    .navbar .logo {
        position: relative;
        left: 3%;
        width: 75px;
     }
    .menu-container {
        height: auto;
    }
    .menu-container #main-menu {
        display: block;
    }
    .menu-container > label {
        display: none;
    }
    .menu-container ul li {
        display: inline-block;
    }
    .right {
        margin-left: 50px;
    }
   .left {
       margin-right: 50px;
   }
}

@media (max-width: 680px) {
    h1 {
        font-size: 36px;
    }
    .chat h1 {
        font-size: 30px;
    }
    p {
        font-size: 16px;
        line-height: 1.3;
    }
    .navbar .logo {
        left: 24px;
        width: 50px;
    }
    .container {
        padding: 40px 30px;
    }
    .profile-image {
        margin-left: -100px;
        margin-top: -175px;
    }
    .profile-image img {
        width: 200px;
    }
    .menu-container {
        text-align: center;
    }
    .menu-container > input:checked + #main-menu {
        top: 75px;
    }
    .menu-container a {
        color: #ffffff;
        font-size: 30px;
        margin: 16px;
    }
    .menu-container ul li {
        padding: 16px 16px;
        border-bottom: 2px solid #ffffff;
    }
    .flex-container {
        flex-direction: column;
    }
}
