html {
    height: 100%;
    font-size: 100%;
}

body {
    font-family: 'Montserrat';
    color: #333333;
    letter-spacing: 0.10rem;
    min-height: 100%;
}

h1, h2, h3 {
    font-family: 'Muli';
    font-weight: 700;
    color: #333333;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

.navbar {
    padding: 0.5rem;
    margin-right: 5%;
    margin-bottom: 0;
 }

.navbar .logo {
    position: relative;
    left: 5%;
    width: 10%;
    min-width: 75px;
 }

.menu-container {
    float: right;
    display: flex;
}

.menu-container #main-menu,
.menu-container > input {
    display: none;
}

.menu-container > label {
    display: block;
    font-size: 2rem;
    color: #333333;
    position: absolute;
    right: 20px;
    width: 36px;
    padding: 0;
    cursor: pointer;
}

.menu-container > input:checked + #main-menu {
    display: block;
    clear: both;
    position: absolute;
    right: 0;
    background: #333333;
    width: 100%;
    margin: 0 auto;
    z-index: 1000;
}

.menu-container ul li {
    display: block;
    padding-top: 1rem;
}

.menu-container a {
    text-decoration: none;
    color: #333333;
    font-size: 1.25rem;
    margin-right: 4rem;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #EF7D93;
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.active a {
    color: #ffffff;
}

button {
    width: 300px;
    height: 70px;
    background-color: #06A0A6;
    border-radius: 0.4rem;
}

.button {
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0.10rem;
    padding: 25px 65px;
    box-sizing: border-box;
}

footer {
    padding-top: 5rem;
}

.chat {
    padding-bottom: 5rem;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.chat h1 {
    padding-bottom: 2rem;
}

.contact {
    background-color: #EF7D93;
}

.contact a {
    padding: 25px 100px;
}

.footer-content {
    color: #ffffff;
    background-color: #06A0A6;
    height: 90px;
}

.copyright {
     font-size: 0.875rem;
     text-align: left;
     margin-left: 2rem;
     position: relative;
     top: 3.5rem;
 }

.footer-links {
    text-decoration: none;
    font-size: 2.5rem;
    width: 275px;
    margin: 0 auto;
}

.footer-links a {
    display: inline;
    color: #ffffff;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

i {
    vertical-align: baseline;
    position: relative;
}

.fa-linkedin-in {
    bottom: 3px;
}

.footer-links a:hover {
    color: #EF7D93;
}

@media (max-width: 1080px) {
    h2 {
        font-size: 2rem;
    }
}

@media (max-width: 930px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    .button {
        font-size: 0.9rem;
    }
    .footer-links {
        width: 230px;
    }
    .footer-links a {
        font-size: 2rem;
        position: relative;
        bottom: 1rem;
    }
    .copyright {
        font-size: 0.75rem;
        text-align: center;
        margin-left: 0;
        top: 4rem;
    }
}

@media (min-width: 661px) {
    .menu-container {
        height: auto;
    }
    .menu-container #main-menu {
        display: block;
    }
    .menu-container > label {
        display: none;
    }
    .menu-container ul li {
        display: inline-block;
    }
    button:hover {
        background: rgba(0,0,0,0);
        box-shadow: inset 0 0 0 3px #06A0A6;
        color: #06A0A6;
    }
    .button:hover {
        color: #06A0A6;
    }
    .contact:hover {
        background: rgba(0,0,0,0);
        box-shadow: inset 0 0 0 3px #EF7D93;
    }
    .contact a:hover {
        color: #EF7D93;
    }
}

@media (max-width: 660px) {
    h1 {
        font-size: 2.25rem;
    }
    body {
        font-size: 1.125rem;
        font-family: 'Montserrat';
        font-weight: 400;
    }
    .navbar .logo {
        left: 1.5rem;
        width: 75px;
    }
    .menu-container {
        text-align: center;
    }
    .menu-container > input:checked + #main-menu {
        top: 75px;
    }
    .menu-container a {
        color: #ffffff;
        font-size: 2rem;
        margin: 1rem;
    }
    .menu-container ul li {
        padding: 2rem 1rem;
        border-bottom: 2px solid #ffffff;
    }
    button {
        height: 60px;
        width: 250px;
        border-color: transparent;
    }
    .button {
        font-family: 'Montserrat';
        font-weight: 400;
        padding: 0;
    }
    .contact a {
        padding: 0;
    }
}
