html {
    height: 100%;
    font-size: 100%;
}

body {
    font-family: 'Montserrat';
    color: #333333;
    letter-spacing: 0.10rem;
    min-height: 100%;
}

h1, h2, h3 {
    font-family: 'Muli';
    font-weight: 700;
    color: #333333;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

.navbar {
    padding: 0.5rem;
    margin-right: 5rem;
 }

.navbar .logo {
    position: relative;
    left: 3rem;
 }

.navbar .menu {
    text-decoration: none;
    font-size: 1.25rem;
    padding-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: #333333;
    position: relative;
    float: right;
}

.navbar .menu:hover {
    color: #EF7D93;
    border-bottom: 2px solid #EF7D93;
}

.hero-text {
    width: 650px;
    margin: 0 auto;
    text-align: center;
}

.hero-text h1,
.hero-text h2,
.hero-text p {
    color: #ffffff;
    text-align: center;
    padding-bottom: 2rem;
    letter-spacing: 0.10rem;
}

.hero-text #hero-title {
    padding-top: 5rem;
    font-size: 4rem;
    margin: 0 auto;
}

.hero-text #hero-subtitle {
    font-weight: 300;
    font-size: 2.25rem;
    line-height: 2.8rem;
    margin: 0 auto;
}

.hero-text #location {
    font-family: 'Muli';
    font-weight: 300;
    font-size: 1.875rem;
}

#view-work {
    color: #ffffff;
    font-size: 1.875rem;
}

.hero-content {
    position: relative;
    min-height: 875px;
    background-image: url(../assets/images/portfolio_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #FEA6A6;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
 }

.tag {
    background: #FEA6A6;
    border-radius: 15px;
    padding: 0.4rem 0.625rem;
    color: #ffffff;
    font-size: 0.875rem;
    margin-right: 0.15rem;
}

.flex-container-even {
    display: flex;
    flex-direction: row;
    padding: 4rem;
}

.flex-container-even img {
    margin-left: 4rem;
}

.flex-container-odd {
    display: flex;
    flex-direction: row-reverse;
    padding: 4rem;
    background-color: rgba(254,166,166,0.3);
    background-size: cover;
}

.flex-container-even,
.flex-container-odd {
    justify-content: space-between;
}

.details p {
    max-width: 570px;
    line-height: 2rem;
    font-size: 1.45rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.button {
    border-radius: 0.4rem;
    background: linear-gradient(#0ECED2, #06A0A6);
    color: #ffffff;
    text-decoration: none;
    padding: 1rem;
}

.button:hover {
    opacity: 0.8;
}

footer {
    padding-top: 4rem;
}

.chat {
    padding-bottom: 4rem;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.chat h1 {
    padding-bottom: 2rem;
}

.chat .button {
    background: linear-gradient(#F8B4C5, #EF7D93);
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.footer-content {
    color: #ffffff;
    background-color: #06A0A6;
    height: 90px;
}

.copyright {
     font-size: 0.875rem;
     text-align: left;
     margin-left: 2rem;
     position: relative;
     top: 3.5rem;
 }

.footer-links {
    text-decoration: none;
    font-size: 2.5rem;
    width: 265px;
    margin: 0 auto;
}

.footer-links a {
    display: inline;
    color: #ffffff;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

i {
    vertical-align: baseline;
    position: relative;
}

.fa-linkedin-in {
    bottom: 3px;
}

.footer-links a:hover {
    color: #EF7D93;
}

@media (min-width: 640px) and (max-width: 1240px) {

}

@media (max-width: 640px) {

}
