html {
    height: 100%;
    font-size: 100%;
}

body {
    font-family: 'Montserrat';
    color: #333333;
    letter-spacing: 0.10rem;
    min-height: 100%;
}

h1, h2, h3 {
    font-family: 'Muli';
    font-weight: 700;
    color: #333333;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

.navbar {
    padding: 0.5rem;
    margin-right: 5rem;
 }

.navbar .logo {
    position: relative;
    left: 3rem;
    width: 10%;
 }

 .navbar .icon {
     display: none;
 }

.navbar .menu {
    text-decoration: none;
    font-size: 1.25rem;
    padding-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: #333333;
    position: relative;
    float: right;
}

.navbar .menu:hover {
    color: #EF7D93;
    border-bottom: 2px solid #EF7D93;
}

.hamburger {
    display: none;
}

.hero-text {
    width: 40%;
    min-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.hero-text h1,
.hero-text h2,
.hero-text p {
    color: #ffffff;
    text-align: center;
    padding-bottom: 5%;
    letter-spacing: 0.10rem;
}

.hero-text h1 {
    padding-top: 15%;
    font-size: 4rem;
    margin: 0 auto;
}

.hero-text h2 {
    font-weight: 300;
    font-size: 2.25rem;
    line-height: 2.8rem;
    margin: 0 auto;
}

.hero-text p {
    font-family: 'Muli';
    font-weight: 300;
    font-size: 1.875rem;
}

#view-work {
    color: #ffffff;
    font-size: 1.875rem;
}

.hero-content {
    position: relative;
    min-height: 875px;
    background-image: url(../assets/images/portfolio_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #FEA6A6;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
 }

.tag {
    background: #FEA6A6;
    border-radius: 15px;
    padding: 1% 2%;
    color: #ffffff;
    font-size: 0.875rem;
    margin-right: 0.15rem;
}

.thumbnail img {
    width: 95%;
    height: auto;
    margin: 0 auto;
}

.thumbnail {
    width: 50%;
}

.details {
    width: 50%;
}

.flex-container-even {
    display: flex;
    flex-direction: row;
}

.flex-container-even .details {
    padding-left: 8%;
    padding-top: 5%;
}

.flex-container-odd {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgba(254,166,166,0.3);
}

.flex-container-even,
.flex-container-odd {
    justify-content: space-between;
    padding: 5%;
}

.details p {
    max-width: 570px;
    line-height: 2rem;
    font-size: 1.45rem;
    padding-top: 5%;
    padding-bottom: 5%;
}

.button {
    border-radius: 0.4rem;
    background-color: #06A0A6;
    color: #ffffff;
    text-decoration: none;
    padding: 1.25rem 5%;
}

.button:hover {
    opacity: 0.8;
}

footer {
    padding-top: 5%;
}

.chat {
    padding-bottom: 6rem;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.chat h1 {
    padding-bottom: 2rem;
}

.chat .button {
    background-color: #EF7D93;
    padding: 1.25rem 20%;
}

.footer-content {
    color: #ffffff;
    background-color: #06A0A6;
    height: 90px;
}

.copyright {
     font-size: 0.875rem;
     text-align: left;
     margin-left: 2rem;
     position: relative;
     top: 3.5rem;
 }

.footer-links {
    text-decoration: none;
    font-size: 2.5rem;
    width: 265px;
    margin: 0 auto;
}

.footer-links a {
    display: inline;
    color: #ffffff;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

i {
    vertical-align: baseline;
    position: relative;
}

.fa-linkedin-in {
    bottom: 3px;
}

.footer-links a:hover {
    color: #EF7D93;
}

@media (max-width: 1080px) {
    .hero-text h1 {
        font-size: 3rem;
    }
    .hero-text h2 {
        font-size: 2rem;
    }
    .hero-text p {
        font-size: 1.2rem;
    }
    h2 {
        font-size: 2rem;
    }
    .details p {
        font-size: 1.2rem;
        max-width: 440px;
    }
    .tag {
        font-size: 0.75rem;
        margin-left: 0;
        margin-right: 0;
    }
    .details {
        width: 60%;
    }
    .thumbnail {
        width: 40%;
    }
    .thumbnail img {
        margin-top: 20%;
        margin-bottom: 20%;
    }
}

@media (max-width: 930px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    .details p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .tag {
        font-size: 0.6rem;
    }
    .button {
        font-size: 0.9rem;
    }
    .footer-links {
        width: 230px;
    }
    .footer-links a {
        font-size: 2rem;
        position: relative;
        bottom: 1rem;
    }
    .copyright {
        font-size: 0.75rem;
        text-align: center;
        margin-left: 0;
        top: 4rem;
    }
}

@media (max-width: 660px) {
    h1 {
        font-size: 2.25rem;
    }
    body {
        font-size: 1.125rem;
    }
    .navbar .menu {
        display: none;
    }
    a.hamburger {
        display: block;
        position: absolute;
        color: #333333;
        right: 5%;
        top: 3%;
    }
    .top-nav {
        height: 100%;
        width: 100%;
        position: absolute;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        transform: translate(-280px,0);
        -webkit-transform: translate(-280px,0);
        -moz-transform: translate(-280px,0);
        -o-transform: translate(-280px,0);
    }

    .top-nav.open {
        display: block;
        width: 100%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        transform: translate(0,0);
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -o-transform: translate(0,0);
    }
    .navbar .logo {
        left: 1.5rem;
        width: 18%;
    }
    .hero-text {
        min-width: 300px;
    }
    .hero-content {
        min-height: 600px;
    }
    .hero-content img {
        width: 25%;
        height: auto;
    }
    .hero-text h1 {
        font-size: 2.25rem;
    }
    .hero-text h2 {
        font-size: 1.3rem;
        line-height: 2rem;
    }
    .hero-text p {
        font-size: 1.15rem;
    }
    .hero-text h1,
    .hero-text h2,
    .hero-text p {
        padding-bottom: 2%;
    }
    .thumbnail {
        width: 100%;
    }
    .thumbnail img {
        padding-bottom: 5%;
        width: 100%;
        margin: 0 auto;
    }
    .flex-container-even,
    .flex-container-odd {
        flex-direction: column;
        padding-bottom: 10%;
    }
    .flex-container-even .details {
        padding-left: 0;
        padding-top: 0;
    }
    .details {
        text-align: center;
        width: 100%;
    }
    .details p {
        max-width: 100%;
    }
    .button {
        padding: 1rem 5%;
    }
    .chat .button {
        padding: 1rem 18%;
    }
}
